#navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h1 {
        padding-left: 16px;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        li {
            margin: 8px 16px;
            list-style: none;
            font-size: 20px;
            a {
                text-decoration: none;
            }
        }
    }
}